body{
    color: #ffff;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.bg-light{
    color: black;
} 
.outForm{
    position: relative;
    background-color: black;
}
#form{
    display: none;
    width: 90%;

    position: absolute;
    right: 10px;
    
}

#locker{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
    
}
@media only screen and (min-width: 768px){
    #form{
        width: 500px;
    }
  
}


